// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 NXP
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx93.dtsi"
#include <dt-bindings/leds/common.h>

&ele_mu {
	memory-region = <&ele_reserved>;
};

/ {
	model = "NXP i.MX93 11X11 EVK board";
	compatible = "fsl,imx93-11x11-evk", "fsl,imx93";

	chosen {
		stdout-path = &lpuart1;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			alloc-ranges = <0 0x80000000 0 0x40000000>;
			size = <0 0x10000000>;
			linux,cma-default;
		};

		ethosu_mem: ethosu_region@C0000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x0 0xC0000000 0x0 0x10000000>;
		};

		vdev0vring0: vdev0vring0@a4000000 {
			reg = <0 0xa4000000 0 0x8000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@a4008000 {
			reg = <0 0xa4008000 0 0x8000>;
			no-map;
		};

		vdev1vring0: vdev1vring0@a4000000 {
			reg = <0 0xa4010000 0 0x8000>;
			no-map;
		};

		vdev1vring1: vdev1vring1@a4018000 {
			reg = <0 0xa4018000 0 0x8000>;
			no-map;
		};

		rsc_table: rsc-table@2021f000 {
			reg = <0 0x2021f000 0 0x1000>;
			no-map;
		};

		vdevbuffer: vdevbuffer@a4020000 {
			compatible = "shared-dma-pool";
			reg = <0 0xa4020000 0 0x100000>;
			no-map;
		};

		ele_reserved: ele-reserved@a4120000 {
			compatible = "shared-dma-pool";
			reg = <0 0xa4120000 0 0x100000>;
			no-map;
		};
	};

	cm33: imx93-cm33 {
		compatible = "fsl,imx93-cm33";
		mbox-names = "tx", "rx", "rxdb";
		mboxes = <&mu1 0 1
			  &mu1 1 1
			  &mu1 3 1>;
		memory-region = <&vdevbuffer>, <&vdev0vring0>, <&vdev0vring1>,
				<&vdev1vring0>, <&vdev1vring1>, <&rsc_table>;
		fsl,startup-delay-ms = <500>;
	};

	ethosu {
		compatible = "arm,ethosu";
		fsl,cm33-proc = <&cm33>;
		memory-region = <&ethosu_mem>;
		power-domains = <&mlmix>;
	};

	reg_led_en: regulator-led-enable {
		compatible = "regulator-fixed";
		regulator-name = "led-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&ioexp0 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};
    
	reg_lcd_en: regulator-lcd-enable {
		compatible = "regulator-fixed";
		regulator-name = "lcd-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&ioexp0 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};
    
	reg_lcd_pwr_enable: regulator-lcd-pwr-enable {
		compatible = "regulator-fixed";
		regulator-name = "lcd-pwr-enable";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&ioexp0 6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_lcd_backlight: regulator-lcd-backlight{
		compatible = "regulator-fixed";
		regulator-name = "lcd-backlight";
		gpio = <&gpio2 21 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
		startup-delay-us = <5000>;
	};

	reg_can2_stby: regulator-can2-stby {
		compatible = "regulator-fixed";
		regulator-name = "can2-stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		// gpio = <&adp5585gpio 5 GPIO_ACTIVE_LOW>;
		enable-active-low;
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio3 7 GPIO_ACTIVE_HIGH>;
		off-on-delay-us = <12000>;
		enable-active-high;
	};

	reg_vref_1v8: regulator-adc-vref {
		compatible = "regulator-fixed";
		regulator-name = "vref_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	reg_dvdd_sel: regulator-dvdd_sel {
		compatible = "regulator-fixed";
		regulator-name = "DVDD_SEL";
		// gpio = <&adp5585gpio_isp 0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <2000>;
	};

	reg_dvdd_1v2: regulator-dvdd {
		compatible = "regulator-fixed";
		regulator-name = "DVDD_1V2";
		// gpio = <&adp5585gpio_isp 6 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		enable-active-high;
		vin-supply = <&reg_dvdd_sel>;
	};

	reg_vdd_3v3: regulator-vdd {
		compatible = "regulator-fixed";
		regulator-name = "VDD_3V3";
		// gpio = <&adp5585gpio_isp 5 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <4000>;
		enable-active-high;
	};

	reg_vddio_1v8: regulator-vddo {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_1V8";
		// gpio = <&adp5585gpio_isp 9 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		startup-delay-us = <4000>;
		enable-active-high;
		vin-supply = <&reg_vdd_3v3>;
	};

	reg_vaa_sel: regulator-vaa_sel {
		compatible = "regulator-fixed";
		regulator-name = "VAA_SEL";
		// gpio = <&adp5585gpio_isp 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_avdd_2v8: regulator-avdd {
		compatible = "regulator-fixed";
		regulator-name = "AVDD_2V8";
		// gpio = <&adp5585gpio_isp 7 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		enable-active-high;
		vin-supply = <&reg_vaa_sel>;
	};

	bt_sco_codec: bt_sco_codec {
		#sound-dai-cells = <1>;
		compatible = "linux,bt-sco";
	};

	lcd_backlight: lcd_backlight {
		compatible = "pwm-backlight";
		pwms = <&tpm4 1 50000 0>;
		brightness-levels = <0 20 25 30 50 80 100>;
		default-brightness-level = <6>;
		power-supply = <&reg_lcd_backlight>;
		status = "okay";
	};

	panel {
		compatible = "frida,frd350h54004";
		status = "okay";

		port {
			panel_in: endpoint {
				remote-endpoint = <&display_out>;
			};
		};
	};
};

&gpio3 {
	gpio-line-names = 
		"0",
		"1",
		"2",
		"3",
		"4",
		"5",
		"6",
		"7",
		"8",
		"9",
		"10",
		"11",
		"12",
		"13",
		"14",
		"15",
		"16",
		"17",
		"18",
		"19",
		"20",
		"21",
		"22",
		"23",
		"24",
		"25",
		"CELL_RSTn",
		"CELL_PWRKEY",
		"28",
		"29",
		"30",
		"31";
};

&gpio4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio4>;
	gpio-line-names = 
		"0", 
		"1", 
		"2", 
		"3", 
		"ioexp_en",
		"5",
		"6",
		"7",
		"8",
		"WIFI_WAKEn",
		"10",
		"11",
		"12",
		"13",
		"14",
		"15",
		"16",
		"17",
		"18",
		"19",
		"20",
		"21",
		"22",
		"23",
		"24",
		"25",
		"26",
		"27",
		"CELL_W_ENABLE",
		"CELL_SIM_SEL",
		"30",
		"31";
};

&micfil {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pdm>;
	assigned-clocks = <&clk IMX93_CLK_PDM>;
	assigned-clock-parents = <&clk IMX93_CLK_AUDIO_PLL>;
	assigned-clock-rates = <49152000>;
	status = "okay";
};

&xcvr {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spdif>;
	clocks = <&clk IMX93_CLK_BUS_WAKEUP>,
		<&clk IMX93_CLK_SPDIF_GATE>,
		<&clk IMX93_CLK_DUMMY>,
		<&clk IMX93_CLK_AUD_XCVR_GATE>,
		<&clk IMX93_CLK_AUDIO_PLL>;
	clock-names = "ipg", "phy", "spba", "pll_ipg", "pll8k";
	assigned-clocks = <&clk IMX93_CLK_SPDIF>,
			 <&clk IMX93_CLK_AUDIO_XCVR>;
	assigned-clock-parents = <&clk IMX93_CLK_AUDIO_PLL>,
			 <&clk IMX93_CLK_SYS_PLL_PFD1_DIV2>;
	assigned-clock-rates = <12288000>, <200000000>;
	status = "okay";
};
	
&adc1 {
	vref-supply = <&reg_vref_1v8>;
	status = "okay";
};

&dphy {
	status = "okay";
};

&dsi {
	status = "disabled";
};

&flexcan1 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	status = "okay";
};

&flexcan2 { /* console */
	// pinctrl-names = "default";
	// pinctrl-0 = <&pinctrl_flexcan2>;
	// status = "okay";
};


&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;
	status = "disabled";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <5000000>;

		ethphy1: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
			eee-broken-1000t;
		};
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	phy-mode = "rmii";
	phy-handle = <&ethphy2>;
	fsl,magic-packet;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <2500000>;

		ethphy2: ethernet-phy@2 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <2>;
			eee-broken-1000t;
		};
	};
};

&lpm {
	soc-supply = <&buck1>;
	status = "okay";
};

/*
 * When add, delete or change any target device setting in &lpi2c1,
 * please synchronize the changes to the &i3c1 bus in imx93-11x11-evk-i3c.dts.
 */
&lpi2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c1>;
	pinctrl-1 = <&pinctrl_lpi2c1>;
	status = "okay";

	pcf85363a: rtc@51 {
			compatible = "nxp,pcf85363";
			reg = <0x51>;
			status = "okay";
			#clock-cells = <0>;
	};

	ioexp0: gpio@74 {
		compatible = "nxp,tca9539";
		reg = <0x74>;
		reset-gpios = <&gpio4 4 GPIO_ACTIVE_LOW>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names =	"WIFI_PWR_OK",
							"WIFI_PWR_EN",
							"CAN1_DISABLE",
							"CAN2_DISABLE",
							"STATUS_LED_EN",
							"LCD_PWR_OK",
							"LCD_PWR_EN",
							"LCD_EN",
							"nc",
							"RFID_ENABLE",
							"SPI2_ENABLE",
							"HMI_PWR_OK",
							"HMI_PWR_EN",
							"CHG_CAPGOOD",
							"CHGn_PFW",
							"CHG_ENABLE";
	};

	ioexp1: gpio@75 {
		compatible = "nxp,tca9539";
		reg = <0x75>;
		//reset-gpios = <&gpio4 4 GPIO_ACTIVE_LOW>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names =	"DEBUG0",
							"DEBUG1",
							"DEBUG2",
							"DEBUG3",
							"APP_GPIO1",
							"APP_GPIO2",
							"APP_GPIO3",
							"nc",
							"BT_EN",
							"WIFI_EN",
							"nc",
							"nc",
							"SPI2_RSTn",
							"FLEXSPI_RSTn",
							"nc",
							"nc";

	};

};

&lpi2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c2>;
	pinctrl-1 = <&pinctrl_lpi2c2>;
	status = "okay";

	pmic@25 {
		compatible = "nxp,pca9451a";
		reg = <0x25>;
		interrupt-parent = <&gpio3>;
		interrupts = <25 IRQ_TYPE_EDGE_FALLING>;

		regulators {
			buck1: BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <650000>;
				regulator-max-microvolt = <2237500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck2: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck4: BUCK4{
				regulator-name = "BUCK4";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5: BUCK5{
				regulator-name = "BUCK5";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6: BUCK6 {
				regulator-name = "BUCK6";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4: LDO4 {
				regulator-name = "LDO4";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo5: LDO5 {
				regulator-name = "LDO5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};

};

&lpi2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c3>;
	pinctrl-1 = <&pinctrl_lpi2c3>;
	status = "okay";

	led-controller@14 {
		compatible = "ti,lp5012";
		reg = <0x14>;
		#address-cells = <1>;
		#size-cells = <0>;
		vled-supply = <&reg_led_en>;

		multi-led@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			color = <LED_COLOR_ID_RGB>;
			label = "status_0";

			led@1 {
				reg = <0x0>;
				color = <LED_COLOR_ID_BLUE>;
			};

			led@2 {
				reg = <0x1>;
				color = <LED_COLOR_ID_GREEN>;
			};

			led@3 {
				reg = <0x2>;
				color = <LED_COLOR_ID_RED>;
			};
		};

		multi-led@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			color = <LED_COLOR_ID_RGB>;
			label = "status_1";

			led@1 {
				reg = <0x3>;
				color = <LED_COLOR_ID_BLUE>;
			};

			led@2 {
				reg = <0x4>;
				color = <LED_COLOR_ID_GREEN>;
			};

			led@3 {
				reg = <0x5>;
				color = <LED_COLOR_ID_RED>;
			};
		};

		multi-led@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			color = <LED_COLOR_ID_RGB>;
			label = "status_2";

			led@1 {
				reg = <0x6>;
				color = <LED_COLOR_ID_BLUE>;
			};

			led@2 {
				reg = <0x7>;
				color = <LED_COLOR_ID_GREEN>;
			};

			led@3 {
				reg = <0x8>;
				color = <LED_COLOR_ID_RED>;
			};
		};
		multi-led@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			color = <LED_COLOR_ID_RGB>;
			label = "status_3";

			led@1 {
				reg = <0x9>;
				color = <LED_COLOR_ID_BLUE>;
			};

			led@2 {
				reg = <0xa>;
				color = <LED_COLOR_ID_GREEN>;
			};

			led@3 {
				reg = <0xb>;
				color = <LED_COLOR_ID_RED>;
			};
		};
	};

	led-controller@15 {
		compatible = "ti,lp5012";
		reg = <0x15>;
		#address-cells = <1>;
		#size-cells = <0>;
		vled-supply = <&reg_led_en>;

		multi-led@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			color = <LED_COLOR_ID_RGB>;
			label = "status_4";

			led@1 {
				reg = <0x0>;
				color = <LED_COLOR_ID_BLUE>;
			};

			led@2 {
				reg = <0x1>;
				color = <LED_COLOR_ID_GREEN>;
			};

			led@3 {
				reg = <0x2>;
				color = <LED_COLOR_ID_RED>;
			};
		};

		multi-led@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			color = <LED_COLOR_ID_RGB>;
			label = "status_5";

			led@1 {
				reg = <0x3>;
				color = <LED_COLOR_ID_BLUE>;
			};

			led@2 {
				reg = <0x4>;
				color = <LED_COLOR_ID_GREEN>;
			};

			led@3 {
				reg = <0x5>;
				color = <LED_COLOR_ID_RED>;
			};
		};

		multi-led@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			color = <LED_COLOR_ID_RGB>;
			label = "status_6";

			led@1 {
				reg = <0x6>;
				color = <LED_COLOR_ID_BLUE>;
			};

			led@2 {
				reg = <0x7>;
				color = <LED_COLOR_ID_GREEN>;
			};

			led@3 {
				reg = <0x8>;
				color = <LED_COLOR_ID_RED>;
			};
		};
		multi-led@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			color = <LED_COLOR_ID_RGB>;
			label = "status_7";

			led@1 {
				reg = <0x9>;
				color = <LED_COLOR_ID_BLUE>;
			};

			led@2 {
				reg = <0xa>;
				color = <LED_COLOR_ID_GREEN>;
			};

			led@3 {
				reg = <0xb>;
				color = <LED_COLOR_ID_RED>;
			};
		};
	};
};

&lpuart1 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&lpuart3 { /* console */
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart3>;
        status = "disabled";
};

&lpuart5 {
	/* BT */
	// pinctrl-names = "default";
	// pinctrl-assert-gpios = <&pcal6524 19 GPIO_ACTIVE_HIGH>;
	// pinctrl-0 = <&pinctrl_uart5>;
	status = "disabled";

	bluetooth {
		compatible = "nxp,88w8987-bt";
	};
};

&mu1 {
	status = "okay";
};

&mu2 {
	status = "okay";
};

&usbotg1 {
	dr_mode = "otg";
	hnp-disable;
	srp-disable;
	adp-disable;
	usb-role-switch;
	disable-over-current;
	samsung,picophy-pre-emp-curr-control = <3>;
	samsung,picophy-dc-vol-level-adjust = <7>;
	status = "okay";
};

&usbotg2 {
	dr_mode = "otg";
	hnp-disable;
	srp-disable;
	adp-disable;
	usb-role-switch;
	disable-over-current;
	samsung,picophy-pre-emp-curr-control = <3>;
	samsung,picophy-dc-vol-level-adjust = <7>;
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1>;
	pinctrl-2 = <&pinctrl_usdhc1>;
	bus-width = <4>;
	non-removable;
	status = "okay";
	no-mmc-hs400;
	max-frequency = <100000000>;
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	cd-gpios = <&gpio3 00 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	bus-width = <4>;
	status = "okay";
	no-sdio;
	no-mmc;
};

&lpspi1 {
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpspi1>;
	pinctrl-1 = <&pinctrl_lpspi1>;
	cs-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
	//pinctrl-assert-gpios = <&adp5585gpio 4 GPIO_ACTIVE_HIGH>;
	status = "okay";

	spidev0: spi@0 {
		reg = <0>;
		compatible = "lwn,bk4";
		spi-max-frequency = <1000000>;
	};
};

&lpspi2 {
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpspi2>;
	pinctrl-1 = <&pinctrl_lpspi2>;
	cs-gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;
	//pinctrl-assert-gpios = <&adp5585gpio 4 GPIO_ACTIVE_HIGH>;
	status = "okay";

	spidev1: spi@0 {
		reg = <0>;
		compatible = "lwn,bk4";
		spi-max-frequency = <1000000>;
	};
};

&media_blk_ctrl {
	status = "okay";
};

&epxp {
	status = "okay";
};

&lcdif {
	status = "okay";
	
    lcd_pwr = <&reg_lcd_pwr_enable>;
	lcd_en = <&reg_lcd_en>;

	fsl,interface-pix-fmt = "rgb888";
	assigned-clock-rates = <150000000>, <30000000>, <400000000>, <133333333>;
};


&parallel_disp_fmt {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_lcdif>;
	fsl,interface-pix-fmt = "rgb888";
	status = "okay";

    ports {
        port@1 {
            reg = <1>;
            display_out: endpoint {
                remote-endpoint = <&panel_in>;
            };
        };
    };
};

&tpm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0>;
	status = "okay";
};

&iomuxc {
	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX93_PAD_PDM_CLK__CAN1_TX	        0x139e
			MX93_PAD_PDM_BIT_STREAM0__CAN1_RX	0x139e
		>;
	};

// These are wrong, recheck after 2nd spin of board is available.
// 	pinctrl_flexcan2: flexcan2grp {
// 		fsl,pins = <
// 			MX93_PAD_ENET2_TD3__FLEXIO2_FLEXIO16	0x139e
// 			MX93_PAD_ENET2_TD2__FLEXIO2_FLEXIO17	0x139e
// 		>;
// 	};


	pinctrl_lpi2c1: lpi2c1grp {
		fsl,pins = <
			MX93_PAD_I2C1_SCL__LPI2C1_SCL			0x40000b9e
			MX93_PAD_I2C1_SDA__LPI2C1_SDA			0x40000b9e
			MX93_PAD_ENET1_TD1__GPIO4_IO04 0x31e
		>;
	};

	pinctrl_lpi2c2: lpi2c2grp {
		fsl,pins = <
			MX93_PAD_I2C2_SCL__LPI2C2_SCL			0x40000b9e
			MX93_PAD_I2C2_SDA__LPI2C2_SDA			0x40000b9e
		>;
	};

	pinctrl_lpi2c3: lpi2c3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO28__LPI2C3_SDA			0x40000b9e
			MX93_PAD_GPIO_IO29__LPI2C3_SCL			0x40000b9e
		>;
	};

	pinctrl_eqos: eqosgrp {
		fsl,pins = <
			MX93_PAD_ENET1_MDC__ENET_QOS_MDC			0x57e
			MX93_PAD_ENET1_MDIO__ENET_QOS_MDIO			0x57e
			MX93_PAD_ENET1_RD0__ENET_QOS_RGMII_RD0			0x57e
			MX93_PAD_ENET1_RD1__ENET_QOS_RGMII_RD1			0x57e
			MX93_PAD_ENET1_RD2__ENET_QOS_RGMII_RD2			0x57e
			MX93_PAD_ENET1_RD3__ENET_QOS_RGMII_RD3			0x57e
			MX93_PAD_ENET1_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK	0x5fe
			MX93_PAD_ENET1_RX_CTL__ENET_QOS_RGMII_RX_CTL		0x57e
			MX93_PAD_ENET1_TD0__ENET_QOS_RGMII_TD0			0x57e
			MX93_PAD_ENET1_TD1__ENET_QOS_RGMII_TD1			0x57e
			MX93_PAD_ENET1_TD2__ENET_QOS_RGMII_TD2			0x57e
			MX93_PAD_ENET1_TD3__ENET_QOS_RGMII_TD3			0x57e
			MX93_PAD_ENET1_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK	0x5fe
			MX93_PAD_ENET1_TX_CTL__ENET_QOS_RGMII_TX_CTL		0x57e
		>;
	};

	pinctrl_fec: fecgrp {
		fsl,pins = <
			MX93_PAD_ENET2_MDC__ENET1_MDC			0x57e
			MX93_PAD_ENET2_MDIO__ENET1_MDIO			0x57e
			MX93_PAD_ENET2_TX_CTL__ENET1_RGMII_TX_CTL	0x57e
			MX93_PAD_ENET2_TD0__ENET1_RGMII_TD0		0x57e
			MX93_PAD_ENET2_TD1__ENET1_RGMII_TD1		0x57e
			MX93_PAD_ENET2_TD2__ENET1_RGMII_TD2		0x57e
			MX93_PAD_ENET2_RXC__ENET1_RGMII_RXC		0x5fe
			MX93_PAD_ENET2_RX_CTL__ENET1_RGMII_RX_CTL	0x57e
			MX93_PAD_ENET2_RD0__ENET1_RGMII_RD0		0x57e
			MX93_PAD_ENET2_RD1__ENET1_RGMII_RD1		0x57e
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX93_PAD_UART1_RXD__LPUART1_RX			0x31e
			MX93_PAD_UART1_TXD__LPUART1_TX			0x31e
		>;
};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX93_PAD_ENET1_RD0__LPUART3_RX			0x31e
			MX93_PAD_ENET1_TD0__LPUART3_TX			0x31e
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
			MX93_PAD_DAP_TDO_TRACESWO__LPUART5_TX	0x31e
			MX93_PAD_DAP_TDI__LPUART5_RX		0x31e
			MX93_PAD_DAP_TMS_SWDIO__LPUART5_RTS_B	0x31e
			MX93_PAD_DAP_TCLK_SWCLK__LPUART5_CTS_B	0x31e
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX93_PAD_SD1_CLK__USDHC1_CLK		0x15fe
			MX93_PAD_SD1_CMD__USDHC1_CMD		0x13fe
			MX93_PAD_SD1_DATA0__USDHC1_DATA0	0x13fe
			MX93_PAD_SD1_DATA1__USDHC1_DATA1	0x13fe
			MX93_PAD_SD1_DATA2__USDHC1_DATA2	0x13fe
			MX93_PAD_SD1_DATA3__USDHC1_DATA3	0x13fe
			MX93_PAD_SD1_DATA4__USDHC1_DATA4	0x13fe
			MX93_PAD_SD1_DATA5__USDHC1_DATA5	0x13fe
			MX93_PAD_SD1_DATA6__USDHC1_DATA6	0x13fe
			MX93_PAD_SD1_DATA7__USDHC1_DATA7	0x13fe
			MX93_PAD_SD1_STROBE__USDHC1_STROBE	0x15fe
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmcgrp {
		fsl,pins = <
			MX93_PAD_SD2_RESET_B__GPIO3_IO07	0x31e
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2gpiogrp {
		fsl,pins = <
			MX93_PAD_SD2_CD_B__GPIO3_IO00		0x31e
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX93_PAD_SD2_CLK__USDHC2_CLK		0x15fe
			MX93_PAD_SD2_CMD__USDHC2_CMD		0x13fe
			MX93_PAD_SD2_DATA0__USDHC2_DATA0	0x13fe
			MX93_PAD_SD2_DATA1__USDHC2_DATA1	0x13fe
			MX93_PAD_SD2_DATA2__USDHC2_DATA2	0x13fe
			MX93_PAD_SD2_DATA3__USDHC2_DATA3	0x13fe
			MX93_PAD_SD2_VSELECT__USDHC2_VSELECT	0x51e
		>;
	};

	pinctrl_pdm: pdmgrp {
		fsl,pins = <
			MX93_PAD_PDM_CLK__PDM_CLK			0x31e
			MX93_PAD_PDM_BIT_STREAM0__PDM_BIT_STREAM00	0x31e
			MX93_PAD_PDM_BIT_STREAM1__PDM_BIT_STREAM01	0x31e
		>;
	};

	pinctrl_spdif: spdifgrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO22__SPDIF_IN		0x31e
			MX93_PAD_GPIO_IO23__SPDIF_OUT		0x31e
		>;
	};

	pinctrl_lpspi1: lpspi1grp {
		fsl,pins = <
			MX93_PAD_SAI1_TXFS__GPIO1_IO11		0x3fe
			MX93_PAD_SAI1_TXC__LPSPI1_SIN		0x3fe
			MX93_PAD_SAI1_RXD0__LPSPI1_SOUT		0x3fe
			MX93_PAD_SAI1_TXD0__LPSPI1_SCK		0x3fe
		>;
	};

	pinctrl_lpspi2: lpspi2grp {
		fsl,pins = <
			MX93_PAD_UART1_TXD__GPIO1_IO05		0x3fe
			MX93_PAD_UART1_RXD__LPSPI2_SIN		0x3fe
			MX93_PAD_UART2_RXD__LPSPI2_SOUT		0x3fe
			MX93_PAD_UART2_TXD__LPSPI2_SCK		0x3fe
		>;
	};

	pinctrl_lcdif: lcdifgrp {
        fsl,pins = <
		    MX93_PAD_GPIO_IO00__MEDIAMIX_DISP_CLK	 0x31e
			MX93_PAD_GPIO_IO01__MEDIAMIX_DISP_DE     0x31e
            MX93_PAD_GPIO_IO07__MEDIAMIX_DISP_DATA03 0x31e
            MX93_PAD_GPIO_IO08__MEDIAMIX_DISP_DATA04 0x31e
            MX93_PAD_GPIO_IO09__MEDIAMIX_DISP_DATA05 0x31e
            MX93_PAD_GPIO_IO10__MEDIAMIX_DISP_DATA06 0x31e
            MX93_PAD_GPIO_IO11__MEDIAMIX_DISP_DATA07 0x31e
            MX93_PAD_GPIO_IO14__MEDIAMIX_DISP_DATA10 0x31e
            MX93_PAD_GPIO_IO15__MEDIAMIX_DISP_DATA11 0x31e
            MX93_PAD_GPIO_IO16__MEDIAMIX_DISP_DATA12 0x31e
            MX93_PAD_GPIO_IO17__MEDIAMIX_DISP_DATA13 0x31e
            MX93_PAD_GPIO_IO18__MEDIAMIX_DISP_DATA14 0x31e
            MX93_PAD_GPIO_IO19__MEDIAMIX_DISP_DATA15 0x31e
            MX93_PAD_GPIO_IO23__MEDIAMIX_DISP_DATA19 0x31e
            MX93_PAD_GPIO_IO24__MEDIAMIX_DISP_DATA20 0x31e
            MX93_PAD_GPIO_IO25__MEDIAMIX_DISP_DATA21 0x31e
            MX93_PAD_GPIO_IO26__MEDIAMIX_DISP_DATA22 0x31e
            MX93_PAD_GPIO_IO27__MEDIAMIX_DISP_DATA23 0x31e
            MX93_PAD_GPIO_IO03__MEDIAMIX_DISP_HSYNC  0x31e
            MX93_PAD_GPIO_IO02__MEDIAMIX_DISP_VSYNC  0x31e
        >;
    };

	pinctrl_pwm0: pwm0grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO21__TPM4_CH1	0x2
		>;
	};

};

&isi_0 {
	status = "okay";

	cap_device {
		status = "okay";
	};
};

