# SPDX-License-Identifier: GPL-2.0-only
#
# ChargePoint network device configuration
#

config NET_VENDOR_CHARGEPOINT
	bool "ChargePoint ethernet devices"
	default y
	help
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Qualcomm cards. If you say Y, you will be asked
	  for your specific card in the following questions.

if NET_VENDOR_CHARGEPOINT

config CHPT_ETH_SPI
	tristate "ChargePoint Eth SPI support"
	depends on SPI_MASTER && OF

config CHPT_ETH_SPI_DEBUG
	bool "ChargePoint Eth SPI debug logging"
	depends on CHPT_ETH_SPI

config CHPT_ETH_SPI_VERBOSE
	bool "ChargePoint Eth SPI verbose debug logging"
	depends on CHPT_ETH_SPI_DEBUG

endif # NET_VENDOR_CHARGEPOINT
